---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=4e2ae9f6c217ee7db37e4fe5d696ec21
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:40:46Z", "name": "4e2ae9f6c217ee7db37e4fe5d696ec21",
        "created": "2018-09-11T13:40:49Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:40:47 GMT
- request:
    method: put
    uri: https://api.quovo.com/v3/users/1
    body:
      encoding: UTF-8
      string: '{"name":"New Name"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9995'
      Ratelimit-Reset:
      - '1536676484'
    body:
      encoding: UTF-8
      string: '{"user": {"username": null, "name": "New Name", "value": null, "id":
        5985086, "email": "test@example.com"}}

'
  recorded_at: Tue, 11 Sep 2018 13:40:48 GMT
recorded_with: VCR 4.0.0
