---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=38313ed0e9630d79bb726389adc1e8c9
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:38:49Z", "name": "38313ed0e9630d79bb726389adc1e8c9",
        "created": "2018-09-11T13:38:51Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:38:49 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9996'
      Ratelimit-Reset:
      - '1536676484'
    body:
      encoding: UTF-8
      string: '{"user": {"username": "test@example.com", "name": null, "value":
        100.33, "id": 1, "email": "test@example.com"}}

'
  recorded_at: Tue, 11 Sep 2018 13:38:50 GMT
recorded_with: VCR 4.0.0
