---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=d192098a70a85f62268764af12d58806
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T18:27:19Z", "name": "d192098a70a85f62268764af12d58806",
        "created": "2018-09-11T17:27:19Z"}}

'
  recorded_at: Tue, 11 Sep 2018 17:27:19 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/connections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9998'
      Ratelimit-Reset:
      - '1536690421'
    body:
      encoding: UTF-8
      string: '{"connection": {"username": "test@example.com", "status":
        "good", "user_id": 1, "created": "2018-08-27T18:38:28Z", "last_good_sync":
        "2018-09-08T20:18:16Z", "is_disabled": false, "institution_name": "American
        Express", "value": -17.67, "last_sync": "2018-09-08T20:18:16Z",
        "institution_id": 1, "auto_updates": true, "config_instructions": null,
        "id": 1}}

'
  recorded_at: Tue, 11 Sep 2018 17:27:19 GMT
recorded_with: VCR 4.0.0
