---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=64cdb06137365d9a3e9d0727aff749c1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T20:58:10Z", "name": "64cdb06137365d9a3e9d0727aff749c1",
        "created": "2018-09-11T19:58:11Z"}}

'
  recorded_at: Tue, 11 Sep 2018 19:58:10 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users/1/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9975'
      Ratelimit-Reset:
      - '1536696872'
    body:
      encoding: UTF-8
      string: '{"transactions": [{"forex_rate": 1.0, "price": 0.0, "currency": null,
        "fees": 0.0, "id": 1, "cashflow_subcategory": "Paycheck", "user_id":
        1, "cashflow_category": "Paychecks/Salary", "type": "C", "memo": "TRINET", "account_id":
        1, "symbol": null, "connection_id": 1, "date": "2017-06-30",
        "symbol_name": null, "value": 30.01, "subtype": "DEPO", "is_cancel": false,
        "quantity": 0.0}]}

'
  recorded_at: Tue, 11 Sep 2018 19:58:14 GMT
recorded_with: VCR 4.0.0
