---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=739d4105735cba292be2bd00211710a0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T16:58:53Z", "name": "739d4105735cba292be2bd00211710a0",
        "created": "2018-09-11T15:58:55Z"}}

'
  recorded_at: Tue, 11 Sep 2018 15:58:53 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users/1/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9988'
      Ratelimit-Reset:
      - '1536681745'
    body:
      encoding: UTF-8
      string: '{"accounts": [{"username": "test@example.com", "category":
        "Loan", "user_id": 1, "name": "***1", "is_disabled": false, "type":
        "Student Loan", "institution_name": "Mohela - SoFi", "connection_id": 1,
        "is_taxable": false, "institution_id": 1, "type_confidence": "Very High",
        "value": -144.43, "owner_type": "Individual Account", "nickname": "SoFi-Refi", "id": 1}]}

'
  recorded_at: Tue, 11 Sep 2018 15:58:56 GMT
recorded_with: VCR 4.0.0
