---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=66678d430c8fc65e86c303f384594a76
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T13:10:41Z", "name": "66678d430c8fc65e86c303f384594a76",
        "created": "2018-09-11T12:10:43Z"}}

'
  recorded_at: Tue, 11 Sep 2018 12:10:41 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9994'
      Ratelimit-Reset:
      - '1536669105'
    body:
      encoding: UTF-8
      string: '{"users": []}

'
  recorded_at: Tue, 11 Sep 2018 12:10:42 GMT
recorded_with: VCR 4.0.0
