---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=1bc4920057df6f8a98990b7dc67fb8c0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T17:13:19Z", "name": "1bc4920057df6f8a98990b7dc67fb8c0",
        "created": "2018-09-11T16:13:22Z"}}

'
  recorded_at: Tue, 11 Sep 2018 16:13:20 GMT
- request:
    method: put
    uri: https://api.quovo.com/v3/accounts/1
    body:
      encoding: UTF-8
      string: '{"type":"bad_type"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9992'
      Ratelimit-Reset:
      - '1536685502'
    body:
      encoding: UTF-8
      string: '{"status": 400, "message": "[type] bad_type is not a valid choice",
        "id": "bad_request"}'
  recorded_at: Tue, 11 Sep 2018 16:13:20 GMT
recorded_with: VCR 4.0.0
