---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=6d68544fa913c8084715d575076e06c6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T17:30:24Z", "name": "6d68544fa913c8084715d575076e06c6",
        "created": "2018-09-11T16:30:24Z"}}

'
  recorded_at: Tue, 11 Sep 2018 16:30:24 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/connections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9989'
      Ratelimit-Reset:
      - '1536685502'
    body:
      encoding: UTF-8
      string: '{"connections": [{"username": "test@example.com", "status":
        "good", "user_id": 1, "created": "2018-08-24T19:23:56Z", "last_good_sync":
        "2018-09-10T07:43:54Z", "is_disabled": false, "institution_name": "Mohela
        - SoFi", "value": -13.79, "last_sync": "2018-09-10T07:43:54Z", "institution_id":
        1, "auto_updates": true, "config_instructions": null, "id": 1},
        {"username": "test2@example.com", "status": "challenges", "user_id":
        1, "created": "2018-08-27T15:53:57Z", "last_good_sync": "2018-08-27T15:54:18Z",
        "is_disabled": false, "institution_name": "no", "value": -5577.61,
        "last_sync": "2018-09-03T06:57:53Z", "institution_id": 1, "auto_updates":
        true, "config_instructions": null, "id": 1}]}

'
  recorded_at: Tue, 11 Sep 2018 16:30:25 GMT
recorded_with: VCR 4.0.0
