---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=ec14de8a575c26d27e744583bbc357bd
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T16:56:14Z", "name": "ec14de8a575c26d27e744583bbc357bd",
        "created": "2018-09-11T15:56:17Z"}}

'
  recorded_at: Tue, 11 Sep 2018 15:56:15 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/connections/1/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9991'
      Ratelimit-Reset:
      - '1536681745'
    body:
      encoding: UTF-8
      string: '{"accounts": [{"username": "test@example.com", "category":
        "Banking", "user_id": 1, "name": "***1111", "is_disabled": false, "type":
        "Credit Card", "institution_name": "American Express", "connection_id":
        1, "is_taxable": true, "institution_id": 1, "type_confidence": "Very
        High", "value": -1.67, "owner_type": "Individual Account", "nickname":
        null, "id": 1}]}

'
  recorded_at: Tue, 11 Sep 2018 15:56:18 GMT
recorded_with: VCR 4.0.0
