---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=1b25ac51a0d20bf2c790d369a04bab72
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:44:02Z", "name": "1b25ac51a0d20bf2c790d369a04bab72",
        "created": "2018-09-11T13:44:04Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:44:02 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users?username=test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9993'
      Ratelimit-Reset:
      - '1536676484'
    body:
      encoding: UTF-8
      string: '{"user": {"username": "test@example.com", "name": null,
        "value": 100.27, "id": 1, "email": "test@example.com"}}

'
  recorded_at: Tue, 11 Sep 2018 13:44:02 GMT
recorded_with: VCR 4.0.0
