---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=ff5646339e30e59f60b66e8f9d79a09d
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T21:36:19Z", "name": "ff5646339e30e59f60b66e8f9d79a09d",
        "created": "2018-09-11T20:36:19Z"}}

'
  recorded_at: Tue, 11 Sep 2018 20:36:19 GMT
- request:
    method: put
    uri: https://api.quovo.com/v3/transactions/1
    body:
      encoding: UTF-8
      string: '{"cashflow_category":"bad_type"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9995'
      Ratelimit-Reset:
      - '1536701303'
    body:
      encoding: UTF-8
      string: '{"id":"invalid_parameter","message":"The given category is not a valid
        cashflow category.","status":400}

'
  recorded_at: Tue, 11 Sep 2018 20:36:23 GMT
recorded_with: VCR 4.0.0
