---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=d6a45bba70a6647e9563eac8e2bfdd9d
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:24:03Z", "name": "d6a45bba70a6647e9563eac8e2bfdd9d",
        "created": "2018-09-11T13:24:06Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:24:04 GMT
- request:
    method: post
    uri: https://api.quovo.com/v3/users
    body:
      encoding: UTF-8
      string: '{"username":"test@example.com","email":"test@example.com","name":"Test
        Example"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9990'
      Ratelimit-Reset:
      - '1536672747'
    body:
      encoding: UTF-8
      string: '{"user": {"username": "test@example.com", "name": "Test Example", "value":
        null, "id": 1, "email": "test@example.com"}}

'
  recorded_at: Tue, 11 Sep 2018 13:24:10 GMT
recorded_with: VCR 4.0.0
