---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=f18cce6a88669b75b3423e72e68a427a
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:35:58Z", "name": "f18cce6a88669b75b3423e72e68a427a",
        "created": "2018-09-11T13:36:01Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:35:59 GMT
- request:
    method: delete
    uri: https://api.quovo.com/v3/users/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      Status:
      - 204 No Content
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9997'
      Ratelimit-Reset:
      - '1536676484'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Sep 2018 13:36:04 GMT
recorded_with: VCR 4.0.0
