---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=c181a5859b368a5e94593741b1ed8f5d
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T13:42:55Z", "name": "c181a5859b368a5e94593741b1ed8f5d",
        "created": "2018-09-11T12:42:57Z"}}

'
  recorded_at: Tue, 11 Sep 2018 12:42:55 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9996'
      Ratelimit-Reset:
      - '1536672747'
    body:
      encoding: UTF-8
      string: '{"users": []}

'
  recorded_at: Tue, 11 Sep 2018 12:42:55 GMT
recorded_with: VCR 4.0.0
