---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=f19833f1303859c9e9802b2a87182b6b
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:12:50Z", "name": "f19833f1303859c9e9802b2a87182b6b",
        "created": "2018-09-11T13:12:53Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:12:51 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users?username=test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9991'
      Ratelimit-Reset:
      - '1536672747'
    body:
      encoding: UTF-8
      string: '{"id":"not_found","message":"Not found.","status":404}

'
  recorded_at: Tue, 11 Sep 2018 13:12:52 GMT
recorded_with: VCR 4.0.0
