---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=dfa765db418ecb6d449b433cc6ab636b
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T20:55:08Z", "name": "dfa765db418ecb6d449b433cc6ab636b",
        "created": "2018-09-11T19:55:08Z"}}

'
  recorded_at: Tue, 11 Sep 2018 19:55:08 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/connections/1/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9977'
      Ratelimit-Reset:
      - '1536696872'
    body:
      encoding: UTF-8
      string: '{"transactions": [{"forex_rate": 1.0, "price": 0.0, "currency": null,
        "fees": 0.0, "id": 1, "cashflow_subcategory": "Bars", "user_id":
        1, "cashflow_category": "Food and Beverages", "type": "C", "memo": "DEBIT", "account_id":
        1, "symbol": null, "connection_id": 1, "date": "2018-03-01",
        "symbol_name": null, "value": -4.32, "subtype": "WITH", "is_cancel": false,
        "quantity": 0.0}]}

'
  recorded_at: Tue, 11 Sep 2018 19:55:11 GMT
recorded_with: VCR 4.0.0
