---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=22030269b7a2f36622c64d797f7fb616
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T19:03:00Z", "name": "22030269b7a2f36622c64d797f7fb616",
        "created": "2018-09-11T18:03:01Z"}}

'
  recorded_at: Tue, 11 Sep 2018 18:03:00 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/transactions/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9988'
      Ratelimit-Reset:
      - '1536690421'
    body:
      encoding: UTF-8
      string: '{"transaction": {"forex_rate": 1.0, "price": 0.0, "currency": null,
        "fees": 0.0, "id": 1, "cashflow_subcategory": "Uncategorized", "user_id":
        1, "cashflow_category": "Uncategorized", "type": "C", "memo": "DEBIT", "account_id": 1, "symbol":
        null, "connection_id": 1, "date": "2018-05-01", "symbol_name": null,
        "value": -10.45, "subtype": "WITH", "is_cancel": false, "quantity": 0.0}}

'
  recorded_at: Tue, 11 Sep 2018 18:03:06 GMT
recorded_with: VCR 4.0.0
