---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=b7826d5eb1241676410521fff8c4524a
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T14:56:48Z", "name": "b7826d5eb1241676410521fff8c4524a",
        "created": "2018-09-11T13:56:51Z"}}

'
  recorded_at: Tue, 11 Sep 2018 13:56:49 GMT
- request:
    method: get
    uri: https://api.quovo.com/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9992'
      Ratelimit-Reset:
      - '1536676484'
    body:
      encoding: UTF-8
      string: '{"id":"internal_server_error","message":"Internal Server error.","status":500}

      '
  recorded_at: Tue, 11 Sep 2018 13:56:52 GMT
recorded_with: VCR 4.0.0
