---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=3d9b7c676ce08e83db01c36a33be43bc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"access_token": {"token": "token",
        "expires": "2018-09-11T17:11:28Z", "name": "3d9b7c676ce08e83db01c36a33be43bc",
        "created": "2018-09-11T16:11:31Z"}}

'
  recorded_at: Tue, 11 Sep 2018 16:11:29 GMT
- request:
    method: put
    uri: https://api.quovo.com/v3/accounts/1
    body:
      encoding: UTF-8
      string: '{"nickname":"new name"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Remaining:
      - '9993'
      Ratelimit-Reset:
      - '1536685502'
    body:
      encoding: UTF-8
      string: '{"account": {"username": "test@example.com", "category":
        "Loan", "user_id": 1, "name": "***1111", "is_disabled": true, "type":
        "HELOC", "institution_name": "Bank of America", "connection_id": 1,
        "is_taxable": false, "institution_id": 1, "type_confidence": null, "value":
        0.0, "owner_type": "Individual Account", "nickname": "new name", "id": 1}}

'
  recorded_at: Tue, 11 Sep 2018 16:11:33 GMT
recorded_with: VCR 4.0.0
