---
http_interactions:
- request:
    method: post
    uri: https://api.quovo.com/v3/tokens?name=984146a8cbbebb4c12a0114460155f6b
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<HTTP_BASIC_AUTH_HEADER>"
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"id":"unauthorized","message":"Unauthorized.","status":401}

'
  recorded_at: Tue, 11 Sep 2018 13:55:36 GMT
recorded_with: VCR 4.0.0
